@using Assessment.Models
@using Assessment.Services

@inject IInfoService _infoService;

@model PersonAddOrUpdateModel
<style>
    .div-3 {
        background-color: #FBD603;
    }

     
</style>


<form asp-controller="Home" asp-action="Update" method="post">
    <div class="form-group col-md-3">
        <label for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group col-md-3">
        <label for="Company">Company</label>
        <input asp-for="Company" class="form-control" />
    </div>

    <div class="form-group">
        <table class="table table-hover table-bordered small">
            <thead>
                <tr>
                    <th>Telefon </th>
                    <th>Telefon </th>
                    <th>Bölge </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in _infoService.Getinfos().Where(m => m.PersonId == Model.UUID).ToList())
            {
                <tr>
                    <td>

                        @item.Phone

                    </td>
                    <td>@item.Email</td>
                    <td>@item.Location</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Info" asp-action="Update" asp-route-id="@item.Id "><i class="fa fa-edit"></i> Edit</a>
                    </td>
                </tr>
            }    
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" align="right">
                        <a class="btn btn-primary btn-sm" asp-controller="Info" asp-action="Create" asp-route-PersonId="@Model.UUID"><i class="fa-solid fa-user-plus"></i> Add</a>
                    </td>
                </tr>
            </tfoot>
        </table>
         
    </div>


    <input type="hidden" value="@Model.UUID" asp-for="UUID" />
    <input type="submit" value="Submit" class="btn btn-primary" />

</form>